In [15]:
import pandas as pd
import numpy as np
import statistics as stats
import matplotlib.pyplot as plt
import seaborn as sns

In [16]:
data = pd.read_csv("Titanic Dataset.csv")

In [17]:
data.head(5)

,PassengerId,Survived,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Gender
0,1,0,3,"Braund, Mr. Owen Harris",22.0,1,0,A/5 21171,7.2500,NaN,S,male
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",38.0,1,0,PC 17599,71.2833,C85,C,female
2,3,1,3,"Heikkinen, Miss. Laina",26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,female
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",35.0,1,0,113803,53.1000,C123,S,female
4,5,0,3,"Allen, Mr. William Henry",35.0,0,0,373450,8.0500,NaN,S,male

In [18]:
data.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
Gender          object
dtype: object

In [19]:
data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          156
Embarked         0
Gender           0
dtype: int64

In [20]:
median_age = np.median(data['Age'])
print("Median of Age is : ", median_age)

Median of Age is :  27.76173076923077

In [21]:
median_fare = np.median(data['Fare'])
print("Median of Fare is : ", median_fare)

Median of Fare is :  15.05

In [22]:
mode_age = stats.mode(data['Age'])
print("Mode of Age is : ", mode_age)

Mode of Age is :  27.76173076923077

In [23]:
mode_class = stats.mode(data['Pclass'])
print("Mode of PClass is : ", mode_class)

Mode of PClass is :  3

In [24]:
mean_age = np.mean(data['Age'])
print("Mean of Age is : ", mean_age)

Mean of Age is :  27.76173076923077

In [ ]:
mean_fare = np.mean(data['Fare  '])
print("Mean of Fare is : ", mean_fare)

Mean of Fare is :  27.28388717948718

In [26]:
mode_gender = data['Gender'].value_counts().index[0]
print("Mode of the feature 'Gender' is : ", mode_gender)

Mode of the feature 'Gender' is :  male