In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

In [ ]:
data = pd.read_csv("Titanic Dataset.csv")

In [ ]:
data.info()

In [ ]:
data.head(5)

In [ ]:
data.isnull().sum()

In [ ]:
q1 = np.quantile(data['Age'], 0.25)
q2 = np.quantile(data['Age'], 0.50)
q3 = np.quantile(data['Age'], 0.75)

In [ ]:
print("First Quartile - ", q1)

In [ ]:
print("Second Quartile - ", q2)

In [ ]:
print("Third Quartile - ", q3)

In [ ]:
IQR_age = q3 - q1
print("Interquartile Range - ", IQR_age)

In [ ]:
plt.hist(data['Age'])
plt.ylabel("Count of Passengers")
plt.xlabel("Age")

In [ ]:
fare_q1 = np.quantile(data['Fare'], 0.25)
fare_q2 = np.quantile(data['Fare'], 0.50)
fare_q3 = np.quantile(data['Fare'], 0.75)

In [ ]:
print("Fare of First Quartile", fare_q1)

In [ ]:
print("Fare of Second Quartile", fare_q2)

In [ ]:
print("Fare of Third Quartile", fare_q3)

In [ ]:
IQR_fare = fare_q3 - fare_q1
print("Interquartile Range of Fare - ", IQR_fare)

In [ ]:
bins = np.arange(0,250,20)
plt.hist(data['Fare'], bins=np.arange(1,250,20))
plt.ylabel("Count of Passengers")
plt.xlabel("Fare")
plt.xticks(bins)